.move-left-detail { /* VM detail on the right */
    position: fixed;
    top: 2.5em;
    height: 100%;
    display: block;
    left: 60%;
    width: 40%;
    opacity:1;
    transition:opacity 0.75s ease-in-out;
}

.move-left-detail-invisible {
    opacity: 0;
}

.move-left-close-detail {/* The Close Detail action */
    font-size: 1.1em;
    float: right;
}

.vm-properties {
    font-size: 15px;
}

dt {
    clear: left;
    float: left;
    width: 200px;
    min-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #888;
    font-weight: normal;
    text-align: left;
}

dd {
    margin-left: 110px;
    min-height: 26px;
    max-width: 1000px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vm-detail-icon { /* small VM icon on detail page*/
}
/*
.console-list {
    list-style-type: none;
    display: inline;
}
*/
.left-delimiter {
    padding: 0 13px 0 0;
}

.left-delimiter + .left-delimiter {
    padding-left: 13px;
    border-left: 1px solid #d1d1d1;
}