.movable-left { /* general transition properties */
    transition: transform 0.6s;
    transform-origin: 0 50%;
    transition-timing-function: ease-out;
}

.moved-left { /* altered state */
    transform: perspective(1000px) rotateY(50deg);
}

.card-pf-icon {
    overflow: hidden;
    display: block;
    height: 106px;
    margin: 0 auto;
}

.crop {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: inherit;
}
