.move-left { /* go to the left */
    transition: transform 1s;
    transform: perspective(5000px) translateX(-20%) rotateY(70deg);
}

.move-left-remove {/* go back to normal */
    transition: transform 0.5s;
    transform: perspective(0px) translateZ(0) translateX(0) rotateY(0deg);
}

.card-pf-icon {
    overflow: hidden;
    display: block;
    height: 106px;
    margin: 0 auto;
}

.crop {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: inherit;
}
